<template>
   <form class="postform" @submit.prevent="submit">
      <input type="text" placeholder="title" v-model="title">
      <input type="text" placeholder="body" v-model="body">
      <button class="btn">Create Post</button>
   </form>
</template>

<script>
import {mapMutations} from 'vuex'

   export default {
      data() {
         return {
            title: '',
            body: ''
         }
      },
      methods: {
         ...mapMutations(['createPost']),
         submit() {
            this.createPost({
               title: this.title,
               body: this.body,
               id: Date.now()
            })
            //очищаем инпуты
            this.title = this.body = ''
         }
      },
   }
</script>

<style lang="scss" scoped>
.postform {
   margin-bottom: 30px;
}
input {
   display: block;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 3px;
   padding: 10px;
   margin-bottom: 15px;
}
.btn {
   display: inline-block;
   padding: 12px 20px;
   font-size: 16px;
   min-width: 190px;
   font-family: inherit;
   font-weight: 700;
   text-shadow: 0 0;
   border-radius: 3.2em;
   border: none;
   text-shadow: 0 0 8px rgba(68,68,68,.2);
   background-image: linear-gradient(150deg,#82c24e,#41b883);
   letter-spacing: .06em;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   user-select: none;
   outline-color: transparent;
   box-shadow: inset 0 1px 2px rgba(250,250,250,.1), 0 4px 10px -2px rgba(0,0,0,.08);
   transition: 0.4s;
   &:hover {
      box-shadow: inset 0 4px 9px 5px rgba(240,240,240,.05), 0 3px 20px rgba(0,0,0,.15);
      transition: .3s;
   }
   &:active {
      box-shadow: inset 0 4px 9px 5px rgba(250,250,250,.14), 0 3px 10px rgba(0,0,0,.1);
      transition: .1s;
   }
}

</style>