<template>
  <div id="app">
    <PostForm/>
    <hr>
    <div class="post" v-for="post in validPosts" :key="post.id">
      <h2>{{post.title}}</h2>
      <p>{{post.body}}</p>
    </div>
    <u>Всего постов: <b>{{postsCount}}</b></u>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import PostForm from '@/components/PostForm'

export default {
  name: 'app',
  components: {PostForm},
  // computed: {
  //   ourPosts() {
  //     return this.$store.getters.allPosts;
  //   }
  // },
  computed: mapGetters(['validPosts', 'postsCount']),
  methods: mapActions(['fetchPosts']),
  async mounted() {
    // this.$store.dispatch("fetchPosts")
    this.fetchPosts(4);
  },
}
</script>

<style>
* {box-sizing: border-box}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 60px auto;
  width: 500px;
}
.post {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 10px 20px;
}
h2::first-letter, p::first-letter {
  text-transform: capitalize;
}
hr {margin-bottom: 30px;}

u {
  position: fixed;
  top: 30px;
  right: 35px;
}
</style>
